* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
.twitter{
  display: flex;
}
.Sidebar{
  width: 100%;
  
  left: 0;
  height: 100%;
  border-right: 1px solid #e6ecf0;
}

.Sidebar ul{
  list-style-type: style type none;
}
.Sidebar ul li a{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  padding: 18px 35px;
  font-weight: 700;
  font-size: 18px;
}
.Sidebar ul li a:hover{
  background: #e8f5fe;
  color:#1da1f2 ;
}
.icons{
  margin-right: 15px;
  font-size: 25px;
}
.logo{
  color: #1da1f2;
}
.sidebar_Btn {
  margin: 15p 0;
}
.sidebar_Btn a{
  text-decoration: none;
  background: #1da1f2;
  color: #fff;
  padding: 10px 35px;
  margin: 0 35px;
  border-radius: 50px;
  outline: none;
  display: block;
  text-align: center;
}
